/* set the background for body */
body {
	background: url("../bkg/bkg.jpg");
}

/* set the style for button */
button {
	background-color: #aaa;
	border-radius: 10px;
	color: #444;
	font: 18px Verdana;
	text-align: center;
	margin-left: 70px;
}

/* set the styles for left/right content */
#left {
	float: left;
	width: 70%;
	position: absolute;
	top: 50%;
	margin-top: -150px;
}

#left h1 {
	color: #f7f;
	text-align: center;
	font: bold 50px 'cursive';
}

#left p{
	color: #f3e;
	max-width: 85%;
	margin: 0 auto;
	padding-top: 20px;
	font: 20px Verdana;
}

#left a {
	color: #70f;
	font: bold 22px 'cursive';
}

#right {
	float: right;
	position: absolute;
	top: 50%;
	right: 10%;
	margin-top: -150px;
}