body {
	background: url("../program/bkg.jpg") no-repeat;
	background-attachment: fixed;
}

li {
	padding-top: 10px;
}

.main {
	padding: 0 auto;
}

#left {
	float: left;
	width: 60%;
	position: absolute;
	top: 30%;
	left: 5%;
	padding-left: -100px;
}

#left p {
	color: #ff0;
	max-width: 80%;
	font: 22px Tahoma;
}

#left ul {
	list-style-type: circle;
}

#skill {
	font: 18px Verdana;
}

#skill h3 {
	padding-top: 20px;
	color: #ee0;
}

#skill li, a {
	color: #ff7;
}

#skill h3 {
	font-size: 20px;
}

#right {
	float: right;
	width: 30%;
	position: absolute;
	top: 30%;
	right: 0%;
}

#right ul {
	list-style-type: square;
}

#right h3 {
	color: #ee3;
	font: 30px 'cursive';
}

#right a {
	color: #ff6;
	font: 20px 'cursive';
}