/* set the styles for h3/body */
body {
	background: url("../read/bkg.jpg") no-repeat;
	background-attachment: fixed;
}

h2 {
	color: #70b;
}

/* set the style for button */
button {
	background-color: #555;
	border-radius: 10px;
	color: #fff;
	font: 25px serif;
}

/* set the styles for list/foot */
.main {
	opacity: 0.8;
	padding: 0 auto;
	background-color: #ddd;
}

#list ul {
	color: #f3c;
	padding-left: 20px;
	list-style-type: square;
}

#list li {
	font: 18px Verdana;
	max-width: 95%;
	padding-top: 5px;
}

#foot {
	color: #50f;
	font-size: 20px;
	text-align: center;
	font-family: 'cursive', sans-serif;
}