/* set the styles for main */
.main {
	height: 85%;
}

.main p {
	color: #f55;
	text-align: left;
	font: bold 20px 'Papyrus';
	padding: 5px;
}

/* set the position of the map */
img {
	position: absolute;
	top: 20%;
	left: 25%;
}